<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>7.Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- Servlet 등록 
  	브라우저로부터 요청파일을 전달받으면, 톰캣 서버는 등록된 서블릿 클래스를 실행시킴
  -->
  <servlet>
  	<servlet-name>hello</servlet-name>
  	<servlet-class>com.hello.HelloServlet</servlet-class> 	<!-- 클래스 풀 네임 -->
  </servlet>
  <servlet-mapping>
  	<servlet-name>hello</servlet-name>
  	<url-pattern>/HelloServlet</url-pattern> 	<!-- 요청 파일 이름 -->
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>param</servlet-name>
  	<servlet-class>com.param.Paramservlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>param</servlet-name>
  	<url-pattern>/Paramservlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>person</servlet-name>
  	<servlet-class>com.person.PersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>person</servlet-name>
  	<url-pattern>/PersonServlet</url-pattern>
  </servlet-mapping>
</web-app>